<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="whou.secproject.mapper.RecommendMapper">
	<!--  
		<sql id="baseResultMap">
		    <id property="qnum" column="seq"/>
		    <result property="jobName" column="job_nm"/>
		</sql>
		
		<resultMap id="dynamicResultMap" type="${packageName}.${className}DTO" extends="baseResultMap">
		</resultMap>
	-->
	
	<select id = "getTestResult" resultType="whou.secproject.component.RecommandInfoDTO">
		SELECT
	    *
	    FROM RECOMMAND_INFO
	    <where>
	    	num = ${userNum}
	    </where>
	</select>
	<select id ="allJobCd" resultType="int">
		select Job_Cd from ${tb_name} Order by Job_cd 
	</select>
	<select id ="getValueCd" resultType="String">
		select * from ${tb_name}
	</select>
	<select id ="selectInfo" resultType="java.util.HashMap">
		select ${col} from ${tb_name}
		<where>
			<foreach collection = "conditions" separator= " and " item = "condition" >
				${condition}
			</foreach>
		</where> 
	</select>
</mapper>
  